<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
    <title>Produtos</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
   
    <h1>Lista de Produtos</h1>
    
    <ul>
        <% produtos.forEach(produto => { %>
      <li>
        <%= produto.ProdutoNome %> - R$ <%= produto.ProdutoPreco %> - Qtd: <%= produto.ProdutoQTD %>
        <% if (produto.ProdutoImagem) { %> <br>
          <img src="/uploads/<%= produto.ProdutoImagem %>" width="30"> <% } %>
        <div class="produto">
      <button class="btn-excluir" data-id="<%= produto.ProdutoID %>">Excluir</button>
        </div>

        
        </li>
      <% }) %>
    </ul>
    
   
 <ul>
    <section class="adicionar">
    <h2>Adicionar Produto</h2>
    <form action="/Produto/add" method="POST">
        <label for = "ProdutoNome">Nome:</label>
        <input type="text" name="ProdutoNome" placeholder="Nome" required>
        <br>
        <label for = "ProdutoQTD">Quantidade:</label>
        <input type="number" name="ProdutoQTD" placeholder="Quantidade" required>
        <br>
        <label for = "ProdutoPreco">Preço:</label>
        <input type="number" step="0.01" name="ProdutoPreco" placeholder="Preço" required>
        <br>
        <label for="ProdutoImagem">Imagem: </label>
        <input type="file" name="ProdutoImagem" placeholder="Imagem URL" accept="image/*" required>
        <button type="submit">Adicionar</button>
    </form>
    
    </section>
  </ul>
  <script>
          
            document.addEventListener('DOMContentLoaded', (event) => {
           const botoesExcluir = document.querySelectorAll('.btn-excluir');
           botoesExcluir.forEach(botao => {
            botao.addEventListener('click', () => {
                const produtoID = botao.getAttribute('data-id');
                if (confirm('Tem certeza que deseja excluir este produto?')) {
                    fetch(`/Produto/delete/${produtoID}`, {
                        method: 'DELETE'
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/';
                        } else {
                            alert('Erro ao excluir o produto.');
                        }
                    });
                }
            });
        });
    });

</script>
</body>
</html>
